@model ParkEasyV1.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountDue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
