@model ParkEasyV1.Models.ViewModels.AvailabilityViewModel

@{
    ViewBag.Title = "Check Availability";
}

<div class="container body-content">
    <h3 class="text-center my-3">Check Availability</h3>

    @using (Html.BeginForm("Availability", "Bookings", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row my-4" style="padding-bottom: 20px;">

            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.DepartureDate, htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control", @id = "departure_date" } })
                        @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.ReturnDate, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "form-control", @id = "return_date" } })
                        @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.ReturnTime, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ReturnTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReturnTime, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center>
                    <input type="submit" class="btn btn-darkblue font-weight-bold" value="Check Availability" />
                </center>
            </div>
        </div>
    }

    @if (TempData["Available"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Available"] 
        </div>
    }
    else
    {

    }
</div>

