@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto small mb-2 mb-md-0" }))
    {
        @Html.AntiForgeryToken()

    <ul class="navbar-nav ml-auto small mb-2 mb-md-0" style="position: relative; top: -10px;">
        <li><button type="button" onclick="location.href='@Url.Action("Create", "Bookings")'" class="btn btn-outline-white btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold">Book Online</button></li>
        <li><button type="button" onclick="location.href='@Url.Action("Index", "Users")'" class="btn btn-outline-white btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold">Dashboard</button></li>
        <li><button type="submit" onclick="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline-white btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold"><i class="fas fa-sign-out-alt"></i> Logout</button></li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto small mb-2 mb-md-0" style="position: relative; top: -10px;">
        <li>
            <button type="submit" onclick="location.href='@Url.Action("Create", "Bookings")'" class="btn btn-outline-white btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold">Book Online</button>
        </li>
        <li>
            <button type="submit" onclick="location.href='@Url.Action("Login", "Account", null)'" class="btn btn-outline-white btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold">Login</button>
        </li>
    </ul>
}

