@model IEnumerable<ParkEasyV1.Models.Booking>

@{
    ViewBag.Title = "Daily Cars Release Report";
}

<div class="container body-content" style="padding-bottom: 400px;">
    <h2 class="text-center my-4" >Daily Cars Release Report</h2>

    <table class="table my-3"id="tblBookings">
        <thead>
            <tr>
                <th>
                    Customer Name
                </th>
                <th>
                    Contact Email
                </th>
                <th>
                    Contact Phone No.
                </th>
                <th>
                    Vehicle Registration
                </th>
                <th>
                    Vehicle Make
                </th>
                <th>
                    Vehicle Model
                </th>
                <th>
                    Estimated Airline Arrival Time
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingLines.First().Vehicle.RegistrationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingLines.First().Vehicle.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingLines.First().Vehicle.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.ReturnFlightTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-darkblue font-weight-bold" type="button" onclick="exportexcel()">Export Excel</button>
    <button class="btn btn-darkblue font-weight-bold" type="button" onclick="exportpdf()">Export PDF</button>
</div>

<!--table2excel Plugin Code for Exporting Report as Excel File-->
<script type="text/javascript">
    function exportexcel() {
        $("#tblBookings").table2excel({
            name: "Table2Excel",
            filename: @DateTime.Today.Day+"_"+@DateTime.Today.Month+"_"+@DateTime.Today.Year+"_Daily_Cars_Release_Report",
            fileext: ".xls"
        });
    }
</script>

<!--jsPDF Plugin Code for Exporting Report as PDF-->
<script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.1.1/dist/jspdf.plugin.autotable.js"></script>
<script>
    function exportpdf() {
        var doc = new jsPDF();
        // You can use html:
        doc.autoTable({ html: '#tblBookings' });

        doc.save(@DateTime.Today.Day+'_'+@DateTime.Today.Month+'_'+@DateTime.Today.Year+'_Daily_Cars_Release_Report.pdf');
    }
</script>
