@model ParkEasyV1.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4 class="text-center">Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
<div>
    <center>
        <button class="btn btn-outline-darkblue text-darkblue font-weight-bold"><i class="fab fa-facebook-f"></i> Facebook</button><br><br>
        <button class="btn btn-outline-darkblue text-darkblue font-weight-bold"><i class="fab fa-microsoft"></i> Microsoft</button><br><br>
        <button class="btn btn-outline-darkblue text-darkblue font-weight-bold"><i class="fab fa-twitter"></i> Twitter</button><br><br>
    </center>
</div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                    <center><button type="submit" class="btn btn-outline-darkblue text-darkblue font-weight-bold" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button></center><br>
                    }
                </p>
            </div>
        }
    }
}
