@model ParkEasyV1.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container body-content">
    <h2 class="text-center" style="padding-top: 20px; padding-bottom: 35px;">Register</h2>
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Create a new account.</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AddressLine1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AddressLine2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Postcode, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Postcode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="checkbox" style="padding-bottom: 10px;">
                    <div class="col-md-4" style="display: inline;">
                        @Html.CheckBoxFor(m => m.Corporate)
                        <p style="display: inline;">I am a corporate client wishing to open an account with ParkEasy Airport Parking</p>
                    </div>
                </div>
                <div class="checkbox" style="padding-bottom: 10px;">
                    <div class="col-md-4" style="display: inline;">
                        @Html.CheckBoxFor(m => m.TermsConditions)
                        <p style="display: inline;">I agree to the ParkEasy @Html.ActionLink("Terms & Conditions", "", "", new { @class = "font-weight-bold text-darkblue" })</p>
                        <br>@Html.ValidationMessageFor(m => m.TermsConditions, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="g-recaptcha my-4" data-sitekey="**REMOVED**"></div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-darkblue font-weight-bold" value="Register" />
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <h4 class="text-center">Already have an account?</h4><br>
            <center><button type="submit" onclick="location.href='@Url.Action("Login")'" class="btn btn-darkblue font-weight-bold">Login</button></center>

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
