@model ParkEasyV1.Controllers.SearchParkingSlotsViewModel
@using ParkEasyV1.Models
@using ParkEasyV1.Controllers

@{
    ViewBag.Title = "Parking Slots";
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">

@section scripts{

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script src="~/Scripts/parking-slots-map.js"></script>
    <script>
        $(function () {
            let parkingSlotMap = new ParkingSlotsMap();
            parkingSlotMap.Init();
        });
    </script>

}

<div class="container-fluid">
    <!-- Page Content -->
    <div class="container-fluid" style="padding: 0 0 0 0;">
        <div class="row">
            <div class="col-lg-2 bg-dark-blue d-none d-sm-block" style="padding-top: 10px; padding-bottom: 20px;">
                <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

                <center>
                    <button type="button" id="sidebarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-darkblue-sidebar dropdown-toggle btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold">@User.Identity.Name</button>
                    <div class="dropdown-menu" aria-labelledby="sidebarDropdown">
                        <a class="dropdown-item" href="@Url.Action("ManageDetails", "Account", new { id=ViewBag.UserID})">My Details</a>
                        <a class="dropdown-item" href="#" onclick="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                    <p class="text-white" style="font-size: small;">Staff ID: @ViewBag.UserID</p>
                </center>

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    @*@Html.ActionLink("Dashboard", "Index", "Users", new { area = "" }, new { @class = "list-group-item" })*@
                    @*@Html.ActionLink("Manage Users", "Manage", "Users", new { area = "" }, new { @class = "list-group-item" })*@
                    @Html.ActionLink("Manage Bookings", "Manage", "Bookings", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Manage Parking Slots", "Index", "ParkingSlots", new { area = "" }, new { @class = "list-group-item active" })
                    @*@Html.ActionLink("Customer Departures", "Departures", "Users", new { area = "" }, new { @class = "list-group-item" })*@
                    @*@Html.ActionLink("Customer Returns", "Returns", "Users", new { area = "" }, new { @class = "list-group-item" })*@
                    @*@if (User.IsInRole("Invoice Clerk") || User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Manage Invoices", "Index", "Invoice", new { area = "" }, new { @class = "list-group-item" })
                        }*@
                    @*@if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Manage Tariffs", "Manage", "Tariffs", new { area = "" }, new { @class = "list-group-item" })
                            @Html.ActionLink("Analytic Reports", "Index", "Reports", new { area = "" }, new { @class = "list-group-item" })
                        }*@


                </div>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9" style="padding-bottom: 50px;">
                <h3 class="font-weight-bold" style="padding-top: 50px; padding-bottom: 30px;">Manage Parking Slots</h3>


                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParkingSlotFloor, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ParkingSlotFloor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.ParkingSlotFloor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ParkingSlotNumber, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ParkingSlotNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.ParkingSlotNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartureDate1, htmlAttributes: new { @class = "control-label col-md-8" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DepartureDate1, "{0:MM/dd/yyyy}", new { @class = "form-control", @placeholder = "mm/dd/yyyy" })
                                @Html.ValidationMessageFor(model => model.DepartureDate1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-8" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.DepartureTime, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReturnDate, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ReturnDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @placeholder = "mm/dd/yyyy" })
                                @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReturnTime, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ReturnTime, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ReturnTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display: none;" id="selected-list">
                    floor - None, Slot: None
                </div>
                <div style="display: none;">
                    <button type="button" id="clear-btn">Clear Selection</button>
                </div>
                <br>
                <br>
                <div class="raw form-group">
                    <div class="col-md-4">
                        <label class="control-label">
                            Select floor:
                        </label>
                        <select class="form-control" id="floor-select">
                            <option value="1">First</option>
                            <option value="2">Second</option>
                            <option value="3">Third</option>
                        </select>
                    </div>
                </div>
                <div id="container">
                    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                        <div>
                            LOADING MAP...
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.container -->
    </div>
</div>

<style>
    #container {
        height: 100vh;
        width: 100%;
    }
</style>
