@model IEnumerable<ParkEasyV1.Models.User>
@using ParkEasyV1.Models

<!-- Page Content -->
<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-lg-2 bg-dark-blue d-none d-sm-block" style="padding-top: 10px; padding-bottom: 20px;">
            <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

                <center>
                    <button type="button" id="sidebarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-darkblue-sidebar dropdown-toggle btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold">@User.Identity.Name</button>
                    <div class="dropdown-menu" aria-labelledby="sidebarDropdown">
                        <a class="dropdown-item" href="@Url.Action("ManageDetails", "Account", new { id=ViewBag.UserID})">My Details</a>
                        <a class="dropdown-item" href="" onclick="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                    <p class="text-white" style="font-size: small;">Staff ID: @ViewBag.UserID</p>
                </center>
            

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    @Html.ActionLink("Dashboard", "Index", "Users", new { area = "" }, new { @class = "list-group-item active" })
                    @Html.ActionLink("Manage Users", "Manage", "Users", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Manage Bookings", "Manage", "Bookings", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Manage Parking Slots", "Index", "ParkingSlots", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Customer Departures", "Departures", "Users", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Customer Returns", "Returns", "Users", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Manage Invoices", "Index", "Invoice", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Manage Tariffs", "Manage", "Tariffs", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Analytic Reports", "Index", "Reports", new { area = "" }, new { @class = "list-group-item" })
                </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9" style="padding-bottom: 50px;">
            <h3 class="font-weight-bold" style="padding-top: 50px; padding-bottom: 30px;">Staff Panel</h3>
            @if (TempData["Success"] != null)
            {
            <center>
                <div class="col-md-6 alert alert-success text-center my-2" role="alert">
                    <strong>Success: </strong>@TempData["Success"]
                </div>
            </center>
            }
            @if (TempData["Error"] != null)
            {
                <center>
                    <div class="col-md-6 alert alert-danger text-center my-2" role="alert" style="margin-top: 15px;"><strong>Error: </strong>@TempData["Error"]</div>
                </center>
            }
            <div class="row">
                <div class="col-md-3">
                    <div class="stats stats-primary ">
                        <h3 class="stats-title"> Users </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@Model.Count()</div>
                                <div class="stats-change">
                                    <span class="stats-timeframe"> Total registered users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats stats-secondary">
                        <h3 class="stats-title"> Bookings </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="fas fa-folder-open"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@ViewBag.BookingCount</div>
                                <div class="stats-timeframe">@ViewBag.BookingsToday New bookings today</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="stats stats-success ">
                        <h3 class="stats-title"> Check-Ins </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="fas fa-plane-departure"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@ViewBag.DepartingToday</div>
                                <div class="stats-timeframe" style="font-size: small">Customers departing today</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats stats-danger">
                        <h3 class="stats-title"> Check-Outs </h3>
                        <div class="stats-content">
                            <div class="stats-icon">
                                <i class="fas fa-plane-arrival"></i>
                            </div>
                            <div class="stats-data">
                                <div class="stats-number">@ViewBag.ReturningToday</div>
                                <div class="stats-timeframe" style="font-size: small">Customers returning today</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="font-weight-bold text-center" style="padding-top: 20px;">Users</h3>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                        <th>@Html.DisplayNameFor(model => model.LastName)</th>
                        <th>@Html.DisplayNameFor(model => model.AddressLine1)</th>
                        <th>@Html.DisplayNameFor(model => model.City)</th>
                        <th>@Html.DisplayNameFor(model => model.Postcode)</th>
                        <th>Role</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddressLine1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Postcode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentRole)
                            </td>


                            <td>
                                <center><button class="btn btn-darkblue font-weight-bold" type="button" onclick="location.href='@Url.Action("Edit" + (item is Staff ? "Staff" : "Customer"), new { id = item.Id })'">View</button></center>
                            </td>
                        </tr>

                    }

                </table>
                <button class="btn btn-darkblue font-weight-bold" type="button" onclick="location.href='@Url.Action("CreateStaff", "Users")'">Create New Staff</button>


            </div>



        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.container -->
</div>

<script src="~/Scripts/umd/popper.min.js"></script>
