@model IEnumerable<ParkEasyV1.Models.User>
@using ParkEasyV1.Models

<!-- Page Content -->
<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-lg-2 bg-dark-blue d-none d-sm-block" style="padding-top: 10px; padding-bottom: 50px;">
            <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

            <center>
                <button type="button" id="sidebarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-darkblue-sidebar dropdown-toggle btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold">@User.Identity.Name</button>
                <div class="dropdown-menu" aria-labelledby="sidebarDropdown">
                    <a class="dropdown-item" href="#" onclick="location.href='@Url.Action("ManageDetails", "Account", new { id=ViewBag.UserID})'">My Details</a>
                    <a class="dropdown-item" href="#" onclick="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
                <p class="text-white" style="font-size: small;">Customer ID: @ViewBag.UserID</p>
            </center>


            <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                @Html.ActionLink("Dashboard", "Index", "Users", new { area = "" }, new { @class = "list-group-item active" })
                @Html.ActionLink("My Details", "ManageDetails", "Account", new { id = ViewBag.UserID }, new { @class = "list-group-item" })
                @Html.ActionLink("Manage Bookings", "MyBookings", "Users", new { area = "" }, new { @class = "list-group-item" })
                @if (ViewBag.Corporate)
                {
                    @Html.ActionLink("My Invoices", "MyInvoices", "Users", new { area = "" }, new { @class = "list-group-item" })
                }
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9" style="padding-bottom: 50px;">
            <h3 class="font-weight-bold" style="padding-top: 50px; padding-bottom: 30px;">Dashboard</h3>
            @if (TempData["Success"] != null)
            {
                <center>
                    <div class="col-md-6 alert alert-success text-center my-2" role="alert">
                        <strong>Success: </strong>@TempData["Success"]
                    </div>
                </center>
            }
            @if (TempData["Error"] != null)
            {
                <center>
                    <div class="col-md-6 alert alert-danger text-center my-2" role="alert" style="margin-top: 15px;"><strong>Error: </strong>@TempData["Error"]</div>
                </center>
            }
            @if (ViewBag.Notification != null)
            {
                <center>
                    <div class="alert alert-warning col-md-6" role="alert">
                        <i class="fas fa-exclamation-triangle"></i> @ViewBag.Notification <br>
                        @Html.ActionLink("View My Invoices", "MyInvoices", "Users")
                    </div>
                </center>
            }
            <p>
                Hello @User.Identity.Name, Welcome to the ParkEasy Customer Dashboard.
                <br><br>
                What would you like to do?
            </p>
            @* Tabs *@
            <div class="row my-5">
                <div class="col-md-3">
                    <center>
                        <a href="@Url.Action("ManageDetails", "Account", new { id = ViewBag.UserID})">
                            <div class="stats stats-dark">
                                <i class="fas fa-database fa-5x" style="padding-bottom: 20px;"></i>
                                <h3 class="stats-title"> My Details </h3>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <a href="@Url.Action("MyBookings", "Users")">
                            <div class="stats stats-dark">
                                <i class="fas fa-user-cog fa-5x" style="padding-bottom: 20px;"></i>
                                <h3 class="stats-title">  Bookings </h3>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-md-3">
                    <center>
                        <a href="@Url.Action("Create", "Bookings")">
                            <div class="stats stats-dark">
                                <i class="far fa-calendar-plus fa-5x" style="padding-bottom: 20px;"></i>
                                <h3 class="stats-title"> New Booking </h3>
                            </div>
                        </a>
                    </center>
                </div>
            </div>
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.container -->
</div>

<script src="~/Scripts/umd/popper.min.js"></script>

