@model ParkEasyV1.Models.ViewModels.ChangeRoleViewModel

@{
    ViewBag.Title = "Change Role";
}

<div class="container body-content">
    <h2>Change Role</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4>Change role of this user.</h4>

        <hr>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    @Html.DropDownListFor(model => model.Role, Model.Roles, new { @class = "form-control" })
                </div>
            </div>

            <hr>

            <div class="form-actions no-color">
                <input type="submit" value="Change Role" class="btn btn-default" />
                |
                @Html.ActionLink("No, thanks!", "Index")
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


