@model IEnumerable<ParkEasyV1.Models.Booking>

@{
    ViewBag.Title = "Returns";
}

<div class="container-fluid">
    <!-- Page Content -->
    <div class="container-fluid" style="padding: 0 0 0 0;">
        <div class="row">
            <div class="col-lg-2 bg-dark-blue d-none d-sm-block" style="padding-top: 10px; padding-bottom: 50px;">
                <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

                <center>
                    <button type="button" id="sidebarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-darkblue-sidebar dropdown-toggle btn-sm my-2 my-sm-0 mr-sm-2 text-white font-weight-bold">@User.Identity.Name</button>
                    <div class="dropdown-menu" aria-labelledby="sidebarDropdown">
                        <a class="dropdown-item" href="@Url.Action("ManageDetails", "Account", new { id=ViewBag.UserID})">My Details</a>
                        <a class="dropdown-item" href="#" onclick="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                    <p class="text-white" style="font-size: small;">Staff ID: @ViewBag.UserID</p>
                </center>

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    @Html.ActionLink("Dashboard", "Index", "Users", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Manage Users", "Manage", "Users", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Manage Bookings", "Manage", "Bookings", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Manage Parking Slots", "Index", "ParkingSlots", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Customer Departures", "Departures", "Users", new { area = "" }, new { @class = "list-group-item" })
                    @Html.ActionLink("Customer Returns", "Index", "Users", new { area = "" }, new { @class = "list-group-item active" })
                    @if (User.IsInRole("Invoice Clerk") || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Manage Invoices", "Index", "Invoice", new { area = "" }, new { @class = "list-group-item" })
                    }
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Manage Tariffs", "Manage", "Tariffs", new { area = "" }, new { @class = "list-group-item" })
                        @Html.ActionLink("Analytic Reports", "Index", "Reports", new { area = "" }, new { @class = "list-group-item" })
                    }


                </div>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9" style="padding-bottom: 50px;">
                <h3 class="font-weight-bold" style="padding-top: 50px; padding-bottom: 30px;">Customer Returns Today</h3>
                @if (Model.Count() != 0)
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <th>Customer</th>
                                <th>Booking Placed</th>
                                <th>Departure Date</th>
                                <th>Return Date</th>
                                <th>Return Time</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                if (item.BookingStatus == ParkEasyV1.Models.BookingStatus.Confirmed)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateBooked)
                                        </td>
                                        <td>
                                            @item.Flight.DepartureDate.ToShortDateString()
                                        </td>
                                        <td>
                                            @item.Flight.ReturnDate.ToShortDateString()
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Flight.ReturnFlightTime)</td>
                                        <td>
                                            <center><button class="btn btn-darkblue btn-sm font-weight-bold" type="button" onclick="location.href='@Url.Action("Edit", "Bookings", new { id = item.ID})'">View</button></center>
                                        </td>
                                        <td>
                                            <center><button class="btn btn-darkblue btn-sm font-weight-bold" type="button" onclick="location.href='@Url.Action("CheckOut", "Bookings", new { id = item.ID})'">Check Out</button></center>
                                        </td>
                                        <td>
                                            <center><button class="btn btn-danger btn-sm font-weight-bold" type="button" onclick="location.href='@Url.Action("Cancel", "Bookings", new { id = item.ID})'">Cancel</button></center>
                                        </td>
                                        <td>
                                            <center><button class="btn btn-darkblue btn-sm font-weight-bold" type="button" onclick="location.href='@Url.Action("Delay", "Bookings", new { id = item.ID})'">Delayed</button></center>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                    <button class="btn btn-darkblue btn-sm font-weight-bold" type="button" onclick="location.href='@Url.Action("Manage", "Bookings")'">View All Bookings</button>
                }
                else
                {
                    <center><div class="alert alert-warning col-md-6 text-center" role="alert"><i class="fas fa-exclamation-triangle"></i> No returns scheduled for today.</div></center>
                }

            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.container -->
    </div>
</div>

<script src="~/Scripts/umd/popper.min.js"></script> 